@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.section{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    @include responsive-property(padding, 1rem, 2.5rem);
    justify-content: space-between;

    will-change: filter;
    transition: filter 300ms;

    &:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
      }
    

    &--reverse{
        flex-direction: row-reverse;
    }
    &__copy{
        @include responsive-property(flex-basis, 100%, 30%)
    }

    &__text{
        text-transform: capitalize;
        padding-bottom:1rem
    }

    &__wrapper{
        @include responsive-property(flex-basis, 100%, 60%)
    }

    &__img{
        width: 100%;
    }
}