@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.next-watch-list-page{
   
    &__cards{
        @include flex-main-center;
        flex-wrap: wrap;
        @include responsive-property(gap, $padding-m, $padding-t);
    }

    &__card{
        position: relative;
        @include flex-cross-center(column);
        @include responsive-property(flex-basis, 100%, calc(50% - $padding-t));

         transition: scale 0.3s ease ;

        &:hover{
            scale: 0.8;
        }
    }
}