@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.user-form {
  @include flex;
  gap: 1rem;
  @include responsive-property(flex-wrap, wrap, nowrap);
  align-items: end;
  &__entry {
    @include flex;
    flex-basis: 100%;
    align-items: end;
  }

  &__label {
    text-transform: uppercase;
    flex-basis: 100%;
  }

  &__cta {
    @include responsive-property(max-width, 100%, 25rem, 28rem);
    @include flex;
    justify-content: end;
  }
}
