$color-text: #323232;
$color-cta: #0095ff;
$color-text-secondary: #afafaf;
$color-bg: #ffffff;
$color-cta-text: #ffffff;

$color-video-bg: #000000;
$color-cta-hover: #0065ad;
$color-divider: #e1e1e1;
$color-input: #e1e1e1;
$color-avatar: #e1e1e1;
$color-input-bg: #fafafa;

// padding: mobile, tablet, desktop
$padding-m: 1rem;
$padding-t: 1.5rem;
$padding-d: 2.25rem;

// margin: mobile, tablet, desktop
$margin-m: 1rem;
$margin-t: 2.25rem;
$margin-d: auto;
$max-width: 63.75rem;

// breakpoint: 768px, 1280px
$tablet: 48rem;
$desktop: 80rem;
