@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card-list {
  @include flex-main-center;
  flex-wrap: wrap;
  // gap: 16px;
  @include responsive-property(gap, 16px, 32px, 48px);

  &__loading {
    width: 18.75rem;
    height: 10.9375rem;
  }
}
