@use "styles/partials/global" as *;
@use "styles/partials/mixins" as *;
.app {
  min-height: 100vh;
  @include responsive-margin;
  @include flex(column);

  &__content {
    width: 100%;
    flex-grow: 1;
    @include flex;
  }

  &__notfound-page {
    @include flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  &__link {
    margin-left: 0.5rem;
    text-transform: capitalize;
  }
}
