@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.nav {
  @include flex;
  justify-content: space-between;
  @include responsive-property(padding, 1rem 0, 2rem 0, 3rem 0);
  @include responsive-property(font-size, 1rem, 1.5rem);

  &__logo {
    height: 25px;
    @include logo;
  }
  &__link {
    @include flex-cross-center;
    gap: 1rem;
    text-transform: capitalize;
  }
  &__user {
    @include flex-cross-center;
    gap: 1rem;
  }

}
